h1 {
    color: navy;
    text-align: center;
    @font-face {
        font-family:'Prociono' ;
        src: url("");
    }    
}
footer {
    color: navy;
    text-align: center;
}
th {
    font-size: larger
}  
body {
    background-color: lightblue
}
label {
    font-weight: bold
}  